<div style="max-width: 536px;
            width: 100%;
            margin: 0 auto;
            background-color: #F4F4F5;
            padding: 36px 32px 48px 32px;">

  <div style="display: flex;
              margin-bottom: 26px;">
    <div>
      <a href="<%= spree::root_url %>">
        <img src="https://assets.agzaga.com/public_images/Agzaga-Secondary_Black.png">
      </a>
    </div>

    <div style="width: 100%;
                text-align: right;">
      <img src="https://assets.agzaga.com/public_images/reset-password-icon.png">
    </div>
  </div>

  <div style="padding: 32px;
  margin-bottom: 40px;
              background-color: #FFFFFF;
              border-radius: 8px;
              border: 1px solid #E4E4E7;">

    <div style="font-family: Poppins, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                margin-bottom: 32px;">
      Looks like you told us you forgot your password for <a href="<%= spree::root_url %>" style="font-weight: bold; color: #000000; text-decoration: none;">agzaga.com.</a> If you really did, click here to choose a new one:
    </div>

    <div style="text-align: center;
                max-width: 238px;
                width: 100%;
                background: #FFB514;
                margin: 0 auto;
                border-radius: 6px;
                margin-bottom: 32px;">
      <a href="<%= @edit_password_reset_url %>"
        style="text-decoration: none;
                color: #FFFFFF;
                font-family: Poppins, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;">
        <div style="padding: 8px 20px;"> Choose a new password </div>
      </a>
    </div>

    <div style="font-family: Poppins, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #A1A1AA;
                margin-bottom: 40px;">
      If you didn’t mean to reset your password, then you can ignore this email; your password will not change.
    </div>

    <div style="border: 1px solid #E4E4E7;
                margin-bottom: 32px;"></div>

    <div>
      <div style="font-family: Poppins, sans-serif;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 20px;
                  letter-spacing: 0.04em;
                  color: #000000;
                  margin-bottom: 8px;">
        Having Trouble?
      </div>

      <div style="font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 20px;
                  letter-spacing: 0.04em;
                  color: #A1A1AA;
                  margin-bottom: 8px;">
        If the above button doesn’t work, try copying and pasting this link into your browser:
      </div>

      <div style="border: 1px solid #D4D4D8;
                  display: flex;
                  border-radius: 8px;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 32px;">

        <a href="" style="width: 100%;
                    padding: 0 16px;
                    line-height: 40px;
                    max-height: 40px;
                    height: 40px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    font-family: Poppins, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    color: #3F3F46;"><%= @edit_password_reset_url %></a>
      </div>

      <div>
        <div style="font-family: Poppins, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: #000000;
                    margin-bottom: 8px;">
          Questions?
        </div>

        <div style="font-family: Poppins, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: #A1A1AA;">
          Please let us know if there’s anything we can help you with by emailing <a href = "mailto:support@agzaga.com"
          style="color: #FFB514;
                 font-weight: bold;
                 text-decoration: none;">support@agzaga.com.</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div style="display: flex;
                justify-content: center;
                column-gap: 32px;
                max-width: 192px;
                margin: 0 auto;
                margin-bottom: 40px;">
      <a href="https://www.facebook.com/agzagasocial">
        <img src="https://assets.agzaga.com/public_images/facebook-icon.png">
      </a>

      <a href="https://www.instagram.com/agzagasocial/">
        <img src="https://assets.agzaga.com/public_images/insta-icon.png">
      </a>

      <a href="https://www.tiktok.com/@agzagasocial">
        <img src="https://assets.agzaga.com/public_images/tiktok-icon.png">
      </a>

      <a href="https://www.youtube.com/agzagasocial">
        <img src="https://assets.agzaga.com/public_images/youtube-icon.png">
      </a>
    </div>

    <div style="font-family: Poppins, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #A1A1AA;
                margin-bottom: 20px;">
      Copyright © 2022 Agzaga, LLC, All rights reserved.
    </div>

    <div style="font-family: Poppins, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.04em;
                display: flex;
                justify-content: center;
                column-gap: 8px;
                max-width: 215px;
                width: 100%;
                margin: 0 auto;">
      <a href="mailto:support@agzaga.com" style="color: #A1A1AA;">support@agzaga.com</a>
      <span style="color: #A1A1AA;"> | </span>
      <a href="<%= spree::root_url %>" style="color: #A1A1AA;">agzaga.com</a>
    </div>
  </div>
</div>

# touched on 2025-05-22T22:30:40.171464Z
# touched on 2025-05-22T23:07:43.219172Z
# touched on 2025-05-22T23:36:43.662199Z
# touched on 2025-05-22T23:48:25.725441Z