<%= form_for @ffa_chapter, url: wizard_path(:chapter_info), remote: true, method: :patch do |f| %>
  <div class="is-flex justify-center">
    <div class="ffa-step-card">
      <%= render partial: 'step_progress', locals: { level: 1 } %>

      <%= hidden_field_tag :edit_request, params[:edit_request] %>
      <div class="step-header">
        <div class="step-heading">
          Tell us about your Chapter
        </div>

        <div class="sub-heading">
          We need this info to verify your Chapter’s details.
        </div>
      </div>

      <div class="step-body">
        <div class="step-col-57">
          <div class="material-textfield">
            <%= f.text_field :name, placeholder: ' ' %>
            <label>Chapter Name</label>
            <% if @ffa_chapter.errors.messages.key?(:name) %>
              <span class= "ffa-error-message"><%= @ffa_chapter.errors[:name][0]%></span>
            <% end %>
          </div>
        </div>

        <div class="step-col-57">
          <div class="material-textfield">
            <%= f.text_field :number, placeholder: ' ' %>
            <label>Chapter Number</label>
            <% if @ffa_chapter.errors.messages.key?(:number) %>
              <span class= "ffa-error-message"><%= @ffa_chapter.errors[:number][0]%></span>
            <% end %>
          </div>
        </div>

        <div class="step-col-57">
          <div class="material-textfield">
            <%= f.text_field :members, placeholder: ' ' %>
            <label>Number of Chapter Members</label>
            <% if @ffa_chapter.errors.messages.key?(:members) %>
              <span class= "ffa-error-message"><%= @ffa_chapter.errors[:members][0]%></span>
            <% end %>
          </div>
        </div>

        <div class="step-col-57">
          <div class="material-textfield">
            <%= f.text_field :ein_number, placeholder: ' ' %>
            <label>Chapter EIN Number</label>
            <% if @ffa_chapter.errors.messages.key?(:ein_number) %>
              <span class= "ffa-error-message"><%= @ffa_chapter.errors[:ein_number][0]%></span>
            <% end %>
          </div>
        </div>

      </div>

      <div class="step-card-foot">
        <div class="step-count">
          Step 2 of 4
        </div>

        <div class="is-flex mobile-mb-16">
          <% if !params[:edit_request].present? %>
            <%= link_to wizard_path(:user_info), remote: true, class: 'clear-link btn-back-link' do %>
              <div class="btn-back">
                <%= image_tag('ffa-step-back-arrow.svg', class: "next-step-arrow") %> Go Back
              </div>
            <% end %>
          <% end %>

          <button class="btn-orange-red <%= 'full-width' if params[:edit_request].present? %>" type="submit">
            <%= params[:edit_request].present? ? 'Save Changes' : 'Next Step' %>
            <%= image_tag 'next-step-arrow.svg', class: "next-step-arrow" %>
          </button>
        </div>
      </div>

    </div>
  </div>
<% end %>

# touched on 2025-05-22T19:22:45.023103Z
# touched on 2025-05-22T20:34:16.350350Z
# touched on 2025-05-22T22:43:12.006880Z
# touched on 2025-05-22T23:01:12.671089Z
# touched on 2025-05-22T23:37:30.946701Z
# touched on 2025-05-22T23:39:45.372508Z
# touched on 2025-05-22T23:42:08.263610Z
# touched on 2025-05-22T23:47:34.658693Z