<!doctype html>
<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">


    <meta charset="utf-8">
    <title><%= title %></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <%= render partial: 'layouts/partials/no_index' %>
    <%= render partial: 'layouts/partials/google_tag_head' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= render partial: 'spree/shared/head' %>
    <%= render partial: 'layouts/partials/facebook_meta_tag' %>
    <%= render partial: 'layouts/partials/hotjar' %>

    <%= render partial: 'spree/layouts/partials/facebook_meta_data' %>

    <%= render partial: 'layouts/partials/microsoft_ads' %>
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %> " id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'layouts/partials/google_tag_body' %>
    <%= render partial: 'spree/shared/flash' %>

    <div class="<%= ['checkout', 'orders'].include?(controller_name) ? 'container-fluid' : 'container' %>">

      <div id="content">
        <div class="loader">
          <%= image_tag 'loading-animation', class: "animation_gif" %>
        </div>

        <div class="checkout-loader" id="stripe-loader">
          <div class="checkout-loading-indicator">
            <div class="loading-header">Placing your order</div>
            <div class="loading-text">This can take a minute...</div>
            <%= image_tag 'checkout-loading-gif-animation', class: "checkout_animation_gif" %>
          </div>
        </div>

        <div class="checkout-loader affirm-loader" id="affirm-loader">
          <div class="checkout-loading-indicator">
            <%= image_tag 'affirm_logo-black_bg.svg', alt: 'affirm logo', class: 'affirm-loading-logo' %>
            <div class="loading-text">Give us a second while we process your order...</div>
            <%= image_tag 'checkout-loading-gif-animation', class: 'checkout_animation_gif' %>
          </div>
        </div>

        <div class="checkout-loader affirm-loader paypal-loder" id="paypal-loder">
          <div class="checkout-loading-indicator">
            <%= image_tag 'paypal-logo.webp', alt: 'paypal logo', class: 'affirm-loading-logo' %>
            <div class="loading-text">Give us a second while we process your order...</div>
            <%= image_tag 'checkout-loading-gif-animation', class: 'checkout_animation_gif' %>
          </div>
        </div>

        <%= yield %>
      </div>

      <%= yield :templates %>
    </div>

    <%= render partial: 'layouts/partials/help_scout'  unless controller_name == "checkout" %>
  </body>
</html>

# touched on 2025-05-22T20:34:28.336762Z
# touched on 2025-05-22T22:33:55.322331Z
# touched on 2025-05-22T22:46:58.656430Z