<!doctype html>
<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">

    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : title %></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield :meta_description %>">
    <% end %>
    <% if content_for?(:meta_keywords) %>
      <meta name="keywords" content="<%= yield :meta_keywords %>">
    <% end %>
    <%= render partial: 'layouts/partials/no_index' %>
    <%= render partial: 'layouts/partials/google_tag_head' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: 'spree/shared/head' %>
    <%= render partial: 'layouts/partials/facebook_meta_tag' %>
    <%= render partial: 'layouts/partials/hotjar' %>

    <%= render partial: 'spree/layouts/partials/facebook_meta_data' %>
    <%= render partial: 'layouts/partials/pinterest' %>
    <%= render partial: 'layouts/partials/microsoft_ads' %>
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %> " id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'layouts/partials/google_tag_body' %>
    <%= render partial: 'spree/shared/flash' %>

    <%= render partial: 'spree/shared/header' %>
    <%= render partial: 'spree/shared/partials/add_to_cart_modal_v2' %>

    <div class="<%= ['home', 'checkout', 'orders', 'users', 'user_sessions', 'user_passwords', 'products', 'favorites', 'taxons', 'contacts', 'custom_hose_generator', 'pages'].include?(controller_name) ? 'container-fluid' : 'container' %>">

      <div id="content">
        <div class="loader">
          <%= image_tag 'loading-animation', class: "animation_gif" %>
        </div>
        <%= yield %>
      </div>

      <%= yield :templates %>
    </div>

    <%= render partial: 'spree/shared/footer_v2' %>
    <%= render partial: 'spree/shared/mobile_footer' %>
    <%= render partial: 'layouts/partials/help_scout' %>
  </body>
</html>

# touched on 2025-05-22T23:22:50.152507Z
# touched on 2025-05-22T23:25:28.969036Z
# touched on 2025-05-22T23:30:45.564449Z