<% content_for :page_title do %>
  <%= "Edit Deal Page" %>
<% end %>

<%= form_for [:admin, @deals_page] do |f| %>
  <div class="mt-5 justify-content-center">
    <div class="mb-3 col-6">
      <%= f.label :title, class: "required poppins-text-10" %>
      <%= f.text_field :title, required: true, class: "form-control input-field" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :description, "Description", class: "required poppins-text-10" %>
      <%= f.text_area :description, required: true, wrap: "virtual", rows: 8, class: "required form-control input-field" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :tag_deprecated, class: "poppins-text-10" %>
      <%= f.text_field :tag, disabled: true, class: "form-control input-field" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :visibility, "visibility", class: "poppins-text-10" %><br/>
      <%= f.check_box :visibility %>
    </div>


    <div class="mb-3 col-6">
      <%= f.file_field :images, :accept => "image/jpeg, image/png", multiple: true, class: "required" %>
    </div>

    <% no_images = @deals_page.images.empty? %>

    <table class="index sortable inline-editable-table <%= 'hidden' if no_images %>" id="images-table" data-hook="images_table">
      <colgroup>
        <col style="width: 5%">
        <col style="width: 10%">
        <col style="width: 30%">
        <col style="width: 15%">
      </colgroup>

      <thead>
        <tr data-hook="images_header">
          <th></th>
          <th><%= t('spree.thumbnail') %></th>
          <th><%= Spree::Image.human_attribute_name(:alt) %></th>
          <th class="actions"></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'image_row', locals: {deal_page: @deals_page} , collection: @deals_page.images, as: :image %>
      </tbody>
    </table>

    <% if no_images %>
      <div class="no-objects-found">
        <%= t('spree.no_images_found') %>.
      </div>
    <% end %>

    <div class="mb-3 col-6">
      <%= f.submit "Submit", data: { disable_with: "Submitting...."}, class: "poppins-text-10 btn-gradient-orange customer-submit-btn" %>
    </div>
  </div>
<% end %>

# touched on 2025-05-22T19:24:58.150725Z
# touched on 2025-05-22T23:26:36.503849Z
# touched on 2025-05-22T23:46:59.606564Z