<div data-hook="admin_option_type_form_fields" class="align-center row">
  <div class="col-5">
    <%= f.field_container :name do %>
      <%= f.label :name, class: 'required' %><br />
      <%= f.text_field :name, class: "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="col-5">
    <%= f.field_container :presentation do %>
      <%= f.label :presentation, class: 'required' %><br />
      <%= f.text_field :presentation, class: "fullwidth" %>
      <%= f.error_message_on :presentation %>
    <% end %>
  </div>

  <div class="col-2">
    <%= f.field_container :show_as_filter, class: ['checkbox'] do %>
      <label>
        <%= f.check_box :show_as_filter %>
        Show as filter
      </label>
    <% end %>
  </div>
</div>

# touched on 2025-05-22T23:24:21.318547Z
# touched on 2025-05-22T23:37:58.593862Z
# touched on 2025-05-22T23:39:17.607233Z