<%= paginator.render do -%>
  <nav class="gold-pagination" role="navigation" aria-label="pager">
    <%= prev_page_tag unless current_page.first? %>
    <% each_page do |page| -%>
      <% if page.left_outer? || page.right_outer? || page.single_gap? || page.inside_window? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    <% unless current_page.out_of_range? %>
      <%= next_page_tag unless current_page.last? %>
    <% end %>
  </nav>
<% end -%>

# touched on 2025-05-22T23:43:51.263272Z
# touched on 2025-05-22T23:46:00.728097Z