<% content_for :page_title do %>
  <%= "Deals Products" %>
<% end %>

<div id="new_product_wrapper" data-hook></div>

<% if @deals_products.any? %>
  <table class="index sortable inline-editable-table" id="listing_products" data-hook="deals_products_table"
  data-sortable-link="<%= update_deals_position_admin_deals_products_url(@product) %>">
    <colgroup>
      <col style="width: 20%">
      <col style="width: 20%;">
      <col style="width: 10%;">
      <col style="width: 50%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th></th>
        <th><%= Spree::Variant.human_attribute_name(:sku) %></th>
        <th></th>
        <th><%= sort_link @search,:name, Spree::Product.human_attribute_name(:name), { default_order: "desc" }, {title: 'admin_products_listing_name_title'} %></th>
      </tr>
    </thead>
    <tbody>
      <% @deals_products.each do |product| %>
          <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows">
            <td>
              <span class="handle"></span>
            </td>
            <td><%= product.sku %></td>
            <td class="align-center">
              <%= render 'spree/admin/shared/image', image: product.gallery.images.first, size: :mini %>
            </td>
            <td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= I18n.t("spree.no_results") %>
  </div>
<% end %>

# touched on 2025-05-22T19:23:36.757741Z
# touched on 2025-05-22T20:39:55.072481Z
# touched on 2025-05-22T22:55:16.831856Z