<% freedom_wrap_search_page = root_url + 'products?keywords=Freedom+Wrap' %>

<div class="main-cta fix-container">
  <%= image_tag "america-day-cta.webp", class: 'america-day-desktop-cta' %>

  <div class="overlay-banner">
    <div class="content-container">
      <div class="freedom-wrap-icon">
        <picture>
          <source srcset="https://assets.agzaga.com/public_images/freedom-wrap-logo.webp" type="image/webp" >

          <img src="https://assets.agzaga.com/public_images/freedom-wrap-logo.png" alt="freedom-wrap logo" loading= "lazy" >
        </picture>
      </div>

      <div class="main-heading">
        A Field-Full of the <span class="txt-destructive">American Dream.</span>
      </div>

      <div class="sub-heading">
        <div class="txt-blue">10% Off Bale Tuff Freedom Wrap</div>
        Now through July 4th
      </div>
      <div class="overlay-cta-shop">
        <%= link_to "Shop Now", freedom_wrap_search_page, class: 'ag-btn-lg ag-btn-primary' %>
      </div>
    </div>
  </div>
</div>

<section class="trusted-brand">
  <div class="trusted-brand-body">
    <div class="title">
      A Time-Tested Brand, Trusted by Farmers Across America
    </div>

    <div class="icons-block">
      <div class="trusted-icon">
        <div class="icon-box">
          <picture>
            <source srcset="https://assets.agzaga.com/public_images/superior-uv-icon.webp" type="image/webp" >

            <img src="https://assets.agzaga.com/public_images/superior-uv-icon.png" alt="superior-uv-icon" loading= "lazy" >
          </picture>
        </div>
      </div>

      <div class="trusted-icon">
        <div class="icon-box">
          <picture>
            <source srcset="https://assets.agzaga.com/public_images/us-flag-icon.webp" type="image/webp" >

            <img src="https://assets.agzaga.com/public_images/us-flag-icon.png" alt="us flag" loading= "lazy" >
          </picture>
        </div>
      </div>

      <div class="trusted-icon">
        <div class="icon-box">
          <picture>
            <source srcset="https://assets.agzaga.com/public_images/coverate-icon.webp" type="image/webp" >

            <img src="https://assets.agzaga.com/public_images/coverate-icon.png" alt="coverate icon" loading= "lazy" >
          </picture>
        </div>
      </div>

      <div class="trusted-icon">
        <div class="icon-box">
          <picture>
            <source srcset="https://assets.agzaga.com/public_images/ultra-thick-icon.webp" type="image/webp" >

            <img src="https://assets.agzaga.com/public_images/ultra-thick-icon.png" alt="ultra thick icon" loading= "lazy" >
          </picture>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="bale-tuff">

  <div class="bale-wrap">
    <picture>
      <source media="(max-width:414px)" srcset="https://assets.agzaga.com/public_images/freedom-wrap-mobile.webp" type="image/webp" >
      <source media="(max-width:414px)" srcset="https://assets.agzaga.com/public_images/freedom-wrap-moble.jpg" type="image/jpeg" >
      <source srcset="https://assets.agzaga.com/public_images/freedom-wrap.webp" type="image/webp" >

      <img src="https://assets.agzaga.com/public_images/freedom-wrap.jpg" alt="freedom wrap" loading= "lazy" >
    </picture>
  </div>

  <div class="bale-tuff-content">
    <div class="badge">10% OFF</div>
    <div class="title">
      Bale Tuff Freedom Wrap
    </div>
    <div class="content">
      Net wrap from Bale Tuff is sure to surpass your coverage expectations. Made with the newest net wrap technology, this wrap has high UV resistance, great elasticity, and the strength needed to get your bales through the offseason.
    </div>

    <div class="sub-head">
      AVAILABLE SIZES
    </div>

    <div class="sizes">
      48x9840, 51x9840, 64x7000, 64x8000, 67x7000
    </div>
    <div>
      <%= link_to "Shop Now", freedom_wrap_search_page, class: 'ag-btn-lg ag-btn-primary' %>
    </div>
  </div>

</section>

<section class="american-flag">
  <div class="content">
    <div class="head">American Flag 🇺🇸</div>
    <div class="detail">
      Constructed with durable materials, and made 100% in the United States of America, these Polyester or Nylon flags are made to withstand the most extreme conditions. Fly it high in the shop, garage, your yard, or fixed to your implements.
    </div>

    <div class="sub-head">
      Availables Sizes
    </div>

    <div class="sizes">
      3’x5’ Nylon, 3’x5’ Poly, 4’x6’ Nylon, 5’x8’ Nylon, 6’x10’ Poly
    </div>
    <div>
      <a href="<%= root_url + 'products?keywords=Flag'%>" class="ag-btn-lg ag-btn-primary">Shop Now</a>
    </div>
  </div>

  <div class="american-flag-img">
    <picture>
      <source media="(max-width:414px)" srcset="https://assets.agzaga.com/public_images/american-flag-mobile.webp" type="image/webp" >
      <source media="(max-width:414px)" srcset="https://assets.agzaga.com/public_images/american-flag-mobile.jpg" type="image/jpeg" >
      <source srcset="https://assets.agzaga.com/public_images/american-flag.webp" type="image/webp" >

      <img src="https://assets.agzaga.com/public_images/american-flag.jpg" alt="America flag" loading= "lazy" >
    </picture>
  </div>
</section>

<section class="video">
  <div class="video-title">
    See Freedom Wrap in Action
  </div>

  <div class="video-block">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UGc40GxxLAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<section class="more-products">

  <div class="title-block">
    <div class="title">
      More Products for Summer
    </div>
    <div class="detail">
      From grilling to gardening, get everything you need to make the most of your Summer.
    </div>
  </div>

  <div class="product-block">
    <% @summer_deal_product_cards.each_with_index do |summer_deal_product, index| %>
      <%= render partial: 'spree/home/partials_v2/product_card_md', locals: {product: summer_deal_product, desktop_only: index >= 4, view_in_store: true} %>
    <% end %>
  </div>
</section>

<section class="about">
  <div class="about-us-cta">
    <picture>
      <source media="(max-width:991px)" srcset="https://assets.agzaga.com/about_us/about_us_cta_mob.webp" type="image/webp">
      <source media="(max-width:991px)" srcset="https://assets.agzaga.com/about_us/about_us_cta_mob.png" type="image/png" >
      <source srcset="https://assets.agzaga.com/about_us/about-us-desktop.webp" type="image/webp" >

      <img src="https://assets.agzaga.com/about_us/about-us-desktop.jpg" alt="About us" class="d-block w-100 outerdiv-img video_loader" loading= "lazy" >
    </picture>
  </div>

  <div class="our-story-section">

    <div class="our-story ag-p-sm">Our Story</div>

    <div class="story-section-content">
      <div class="story-section-left">
        <div class="story-heading">Four generations of agricultural business experience.</div>
        <%= link_to "Read More", "#{root_url}about_us#our-story", class: 'ag-btn-lg mobile-hide' %>
      </div>
      <div class="story-section-right">
        <p>Agzaga brings four generations of agricultural business experience to the table, with the goal of ushering the Ag industry into the next generation by giving Ag people a time and money saving way to quickly and easily get everything they need—all in one place online.</p>
      </div>
      <%= link_to "Read More", "#{root_url}about_us#our-story", class: 'ag-btn-lg mobile-show' %>
    </div>
  </div>
</section>

<div class="seperator"></div>

<div class="footer-section">
  <div class="footer-section-text">
    Ready to Show Your Colors?
  </div>

  <%= link_to "Shop Now", freedom_wrap_search_page, class: 'ag-btn-primary ag-btn-lg' %>
</div>




# touched on 2025-05-22T19:07:39.274391Z
# touched on 2025-05-22T19:20:55.821064Z
# touched on 2025-05-22T19:22:37.496745Z
# touched on 2025-05-22T20:44:36.551052Z
# touched on 2025-05-22T22:43:55.093442Z
# touched on 2025-05-22T22:50:01.060615Z