<% content_for :title, 'Agzaga - Privacy Policy' %>
<% content_for :meta_description, "We want you to know exactly how Agzaga works and why we need your details." %>

<div class="bg-gradient-warm"></div>

<div class="container">
  <div class="text-center">
    <h1 class="draught-textured-h1 main-heading">
      PRIVACY POLICY
    </h1>

    <h3 class="poppins-h4 sub-heading">
      We want you to know exactly how Agzaga works and why we need your details.
    </h3>

    <h4 class="poppins-text-11 bold last-updated">Last Updated: April 13, 2021</h4>
  </div>

  <div id="privacy-policy-collapse-group" class="row">
    <div class="col-12">
      <div class="card active">
        <div class="question" id="question-1" data-toggle="collapse" data-target="#answer-1" aria-expanded="true" aria-controls="answer-1">
          Introduction
        </div>

        <div id="answer-1" class="collapse show" aria-labelledby="question-1" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            <p>
              Agzaga LLC (<strong>"Company"</strong> or <strong>"We"</strong>) respect your privacy and are committed to protecting it through our compliance with this policy.
              <br/>
              This policy describes the types of information we may collect from you or that you may provide when you visit the website <%= link_to spree.root_url, spree.root_url, class: "clear_link" %> (our <strong>"Website"</strong>) and our practices for collecting, using, maintaining, protecting, and disclosing that information.
              <br/>

            </p>
            This policy applies to information we collect:

            <ul class="privacy_policy-list">
              <li>On this Website.</li>
              <li>In email, text, and other electronic messages between you and this Website.</li>
              <li>When you interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.</li>
            </ul>

            It does not apply to information collected by:
            <ul class="privacy_policy-list">
              <li>Us offline or through any other means, including on any other website operated by Company or any third party (including our affiliates and subsidiaries); or</li>
              <li>Any third party (including our affiliates and subsidiaries), including through any application or content (including advertising) that may link to or be accessible from or on the Website</li>
            </ul>

            <p>
              Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time (see
              <span class="link_to_question" data-toggle="collapse" data-target="#answer-10" aria-expanded="false" aria-controls="answer-10">Changes to Our Privacy Policy</span>). Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-2" data-toggle="collapse" data-target="#answer-2" aria-expanded="false" aria-controls="answer-2">
          Children Under the Age of 16
        </div>

        <div id="answer-2" class="collapse" aria-labelledby="question-2" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            <p>
              Our Website is not intended for children under 16 years of age. No one under age 16 may provide any personal information  to, or on, the Website. We do not knowingly collect personal information from children under 16. If you are under 16, do not use or provide any information on this Website or through any of its features, register on the Website, make any purchases through the Website, use any of the interactive or public comment features of this Website, or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or user name you may use. If we learn we have collected or received personal information from a child under 16 without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under 16 please contact us at <%= mail_to 'info@agzaga.com', nil, { class: 'clear-link' } %>.
            </p>
            <p>
              California residents under 16 years of age may have additional rights regarding the collection and sale of their personal information. Please see <span class="link_to_question" data-toggle="collapse" data-target="#answer-8" aria-expanded="false" aria-controls="answer-8">Your California Privacy Rights</span> for more information.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-3" data-toggle="collapse" data-target="#answer-3" aria-expanded="false" aria-controls="answer-3">
          Information We Collect About You and How We Collect It
        </div>

        <div id="answer-3" class="collapse" aria-labelledby="question-3" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">

            We collect several types of information from and about users of our Website, including information:
            <ul class="privacy_policy-list">
              <li>
                By which you may be personally identified, such as name, postal address, e-mail address, telephone number/any other identifier by which you may be contacted online or offline (<strong>"personal information"</strong>);
              </li>
              <li>
                That is about you but individually does not identify you, such as demographic information, psychographic information and/or
              </li>
              <li>
                About your internet connection, the equipment you use to access our Website, and usage details.
              </li>
            </ul>

            We collect this information:
            <ul class="privacy_policy-list">
              <li>Directly from you when you provide it to us.</li>
              <li>Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies.</li>
            </ul>

            <p class="italic_style">Information You Provide to Us </p>

            The information we collect on or through our Website may include:
            <ul class="privacy_policy-list">
              <li>Information that you provide by filling in forms on our Website. This includes information provided at the time of registering to use our Website, subscribing to our service, posting material, or requesting further services. We may also ask you for information when you enter a contest or promotion sponsored by us, and/or when you report a problem with our Website.</li>
              <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
              <li>Your responses to surveys that we might ask you to complete for research purposes.</li>
              <li>Details of transactions you carry out through our Website and of the fulfillment of your orders. You will be required to provide financial information before placing an order through our Website.</li>
              <li>Your search queries on the Website.</li>
            </ul>

            <p>
              You also may provide information to be published or displayed (hereinafter, <strong>"posted"</strong>) on public areas of the Website, or transmitted to other users of the Website or third parties (collectively, <strong>"User Contributions"</strong>). Your User Contributions are posted on and transmitted to others at your own risk. Although, please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of other users of the Website with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.
            </p>
            <p class="italic_style">Information We Collect Through Automatic Data Collection Technologies</p>

            As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:
            <ul class="privacy_policy-list">
              <li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
              <li> Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
            </ul>

            The information we collect automatically does/may/is statistical data and does not include personal information. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:
            <ul class="privacy_policy-list">
              <li>Estimate our audience size and usage patterns.</li>
              <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
              <li>Speed up your searches.</li>
              <li>Recognize you when you return to our Website.</li>
            </ul>

            The technologies we use for this automatic data collection may include:
            <ul class="privacy_policy-list">
              <li><strong>Cookies (or browser cookies).</strong> A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
              <li><strong>Flash Cookies.</strong> Certain features of our Website may use local stored objects (or Flash cookies) to collect and store information about your preferences and navigation to, from, and on our Website. Flash cookies are not managed by the same browser settings as are used for browser cookies. For information about managing your privacy and security settings for Flash cookies, see <span class="link_to_question" data-toggle="collapse" data-target="#answer-6" aria-expanded="false" aria-controls="answer-6">Choices About How We Use and Disclose Your Information</span>.</li>
              <li><strong>Web Beacons.</strong> Pages of the Website and our e-mails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).</li>
            </ul>
            We do not collect personal information automatically, but we may tie this information to personal information about you that we collect from other sources or you provide to us.
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-4" data-toggle="collapse" data-target="#answer-4" aria-expanded="false" aria-controls="answer-4">
          How We Use Your Information
        </div>

        <div id="answer-4" class="collapse" aria-labelledby="question-4" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">

            We use information that we collect about you or that you provide to us, including any personal information:
            <ul class="privacy_policy-list">
              <li>To present our Website and its contents to you.</li>
              <li>To provide you with information, products, or services that you request from us.</li>
              <li>To fulfill any other purpose for which you provide it.</li>
              <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
              <li>To notify you about changes to our Website or any products or services we offer or provide though it.</li>
              <li>In any other way we may describe when you provide the information.</li>
              <li>For any other purpose with your consent.</li>
            </ul>
            <p>
              We may also use your information to contact you about goods and services that may be of interest to you. If you do not want us to use your information in this way, please adjust your user preferences in your account profile. For more information, see <span class="link_to_question" data-toggle="collapse" data-target="#answer-6" aria-expanded="false" aria-controls="answer-6">Choices About How We Use and Disclose Your Information</span>.
            <p/>
            <p>
              We may use the information we have collected from you to enable us to display advertisements to our advertisers' target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target criteria.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-5" data-toggle="collapse" data-target="#answer-5" aria-expanded="false" aria-controls="answer-5">
          Disclosure of Your Information
        </div>

        <div id="answer-5" class="collapse" aria-labelledby="question-5" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.

            <br/>

            We may disclose personal information that we collect, or you provide as described in this privacy policy:
            <ul class="privacy_policy-list">
              <li>To our subsidiaries and affiliates.</li>
              <li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
              <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of AGZ's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Agzaga about our Website users is among the assets transferred.</li>
              <li>To fulfill the purpose for which you provide it.</li>
              <li>For any other purpose disclosed by us when you provide the information.</li>
              <li>With your consent.</li>
            </ul>

            We may also disclose your personal information:
            <ul class="privacy_policy-list">
              <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
              <li>To enforce or apply our terms of use <%= link_to spree.root_url+"terms", spree.root_url+"terms", class: "clear_link" %> and other agreements, including for billing and collection purposes.</li>
              <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of AGZ, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12 answer-6">
      <div class="card">
        <div class="question" id="question-6" data-toggle="collapse" data-target="#answer-6" aria-expanded="false" aria-controls="answer-6">
          Choices About How We Use and Disclose Your Information
        </div>

        <div id="answer-6" class="collapse" aria-labelledby="question-6" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">

            We strive to provide you with choices regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your information:
            <ul class="privacy_policy-list">
              <li><strong>Tracking Technologies and Advertising.</strong> You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.</li>
              <li><strong>Promotional Offers from the Company.</strong> If you do not wish to have your email address/contact information used by the Company to promote our own or third parties' products or services, you can opt-out by checking the relevant box located on the form on which we collect your data or at any other time by logging into the Website and adjusting your user preferences in your account profile by checking or unchecking the relevant boxes or by sending us an email stating your request to <%= mail_to 'info@agzaga.com', nil, { class: 'clear-link' } %>. If we have sent you a promotional email, you may choose to be omitted from future email distributions. This opt out does not apply to information provided to the Company as a result of a product purchase, warranty registration, product service experience or other transactions.</li>
              <li><strong>Targeted Advertising.</strong> If you do not want us to use information that we collect or that you provide to us to deliver advertisements according to our advertisers' target-audience preferences, you can opt-out by selecting the relevant check box on your user account page.</li>
            </ul>

            <p>
              We do not control third parties' collection or use of your information to serve interest-based advertising. However these third parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative (<strong>"NAI"</strong>) on the NAI's <%= link_to "website", "https://optout.networkadvertising.org/?c=1", :target => "_blank" ,class: "clear_link"%>.
            <p/>
            <p>
              California residents may have additional personal information rights and choices. Please see <span class="link_to_question" data-toggle="collapse" data-target="#answer-8" aria-expanded="false" aria-controls="answer-8">Your California Privacy Rights</span> for more information.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-7" data-toggle="collapse" data-target="#answer-7" aria-expanded="false" aria-controls="answer-7">
          Accessing and Correcting Your Information
        </div>

        <div id="answer-7" class="collapse" aria-labelledby="question-7" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            <p>
              You can review and change your personal information by logging into the Website and visiting your account information page.
            </p>
            <p>
              If you delete your User Contributions from the Website, copies of your User Contributions may remain viewable in cached and archived pages, or might have been copied or stored by other Website users. Proper access and use of information provided on the Website, including User Contributions, is governed by our terms of use <%= link_to spree.root_url + "terms", spree.root_url + "terms", class: "clear_link" %>.
            </p>
            <p>
              California residents may have additional personal information rights and choices. Please see <span class="link_to_question" data-toggle="collapse" data-target="#answer-8" aria-expanded="false" aria-controls="answer-8">Your California Privacy Rights</span> for more information.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 answer-8">
      <div class="card">
        <div class="question" id="question-8" data-toggle="collapse" data-target="#answer-8" aria-expanded="false" aria-controls="answer-8">
          Your California Privacy Rights
        </div>

        <div id="answer-8" class="collapse" aria-labelledby="question-8" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            <p>
              If you are a California resident, California law may provide you with additional rights regarding our use of your personal information. To learn more about your California privacy rights, visit <%= link_to spree.root_url + "ccpa", spree.root_url + "ccpa", class: "clear_link" %>.
            </p>
            <p>
              California's "Shine the Light" law (Civil Code Section ยง 1798.83) permits users of our App that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to <%= mail_to 'info@agzaga.com', nil, { class: 'clear-link' } %>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-9" data-toggle="collapse" data-target="#answer-9" aria-expanded="false" aria-controls="answer-9">
          Data Security
        </div>

        <div id="answer-9" class="collapse" aria-labelledby="question-9" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            <p>
              We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.
            </p>
            <p>
              The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out information in public areas of the Website like review sections. The information you share in public areas may be viewed by any user of the Website.
            </p>
            <p>
             Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.
           </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 answer-10">
      <div class="card">
        <div class="question" id="question-10" data-toggle="collapse" data-target="#answer-10" aria-expanded="false" aria-controls="answer-10">
          Changes to Our Privacy Policy
        </div>

        <div id="answer-10" class="collapse" aria-labelledby="question-10" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            <p>
              It is our policy to post any changes we make to our privacy policy on this page with a notice that the privacy policy has been updated on the Website home page. If we make material changes to how we treat our users' personal information, we will notify you by email to the primary email address specified in your account and/or through a notice on the Website home page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable email address for you, and for periodically visiting our Website and this privacy policy to check for any changes.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="question" id="question-11" data-toggle="collapse" data-target="#answer-11" aria-expanded="false" aria-controls="answer-11">
          Contact Information
        </div>

        <div id="answer-11" class="collapse" aria-labelledby="question-11" data-parent="#privacy-policy-collapse-group">
          <div class="answer poppins-text-16">
            To ask questions or comment about this privacy policy and our privacy practices, contact us at:

            <br/>

            <%= mail_to 'info@agzaga.com', nil, { class: 'clear-link' } %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: '/spree/pages/partials/news_letter_form' %>
</div>

# touched on 2025-05-22T19:14:48.411037Z
# touched on 2025-05-22T19:24:13.017864Z
# touched on 2025-05-22T23:27:22.542971Z