<% affirm_payment = Spree::PaymentMethod.find_by(type: "SolidusAffirmV2::PaymentMethod")%>
<% unless params[:from_cart_slider] %>
  <% if @applied == true && @error == "" %>
    <% if affirm_payment && @order.shipping_address.present? %>
      $('#payment_method_<%= affirm_payment.id %>').html('<%= j render 'spree/checkout/payment/affirm_v2', payment_method: affirm_payment%>');
    <% end %>

    $('.checkout-summary-group').html("<%=j render partial: 'spree/checkout/checkout_v3_summary_detail' %>");

    if($(document).width() < 768) {
      $('.cart-detail-body').addClass('show-summary-modal');
      $('.checkout-modal-back-drop').addClass('active-back-drop');
    }

  <% elsif @error %>
    <% if @error != 'Coupon already applied' %>
      $('.active_promo_code').removeClass('check-image-coupon');
    <% end %>

    $('#promo-field').removeClass('success').addClass('promo-error-field');
    $('.promo-error').show();
    $('.promo-error').html("<%= @error %>");
    $('#promo-field-block').addClass('spacing');
    $('#add-coupon-code').removeClass('success').addClass('promo-error-button');
    $('#add-coupon-code').html('Cancel');
    $('#add-coupon-code').attr('data-operation', 'cancel');
    $('.promo-error').removeClass('success');

    <% if @error == 'You need to login before applying this coupon code.' %>
      $('.promo-error').append("<a href='#' class='yellow-anchor' data-toggle='modal' data-target='.checkout-login-modal'> Click here to login</a>");
    <% end %>
  <% end %>

  if( $('.promo-error').html().includes('Applied') ) {
    $('.promo-error').addClass('success');
    $('#add-coupon-code').removeClass('promo-error-button').addClass('success');
    $('.promo-error-field').addClass('success');
  }
<% else %>

  <% if @applied == true && @error == "" %>
    <% if affirm_payment && @order.shipping_address.present? %>
      $('#payment_method_<%= affirm_payment.id %>').html('<%= j render 'spree/checkout/payment/affirm_v2', payment_method: affirm_payment%>');
    <% end %>

    $('#slider-adc-form').html('<%= j render 'spree/shared/slider_v2'%>');
    $('#cart-body-summary').html('<%= j render 'spree/shared/cart_summary'%>');
    $('#cart-page-line-items').html('<%= j render 'spree/shared/slider_v2', on_cart_page: true %>');
  <% elsif @error %>
    window.$('.cart-summary-promo-helper').removeClass('d-none');
    window.$('.cart-summary-promo-helper').html('<%= @error %>');
    window.$('.cart-body-summary-promo').css("margin-bottom","4px");
    window.$('.cart-bottom-summary-promo').css("margin-bottom","4px");
    window.$('.cart-bottom-summary-promo').find('.promo-input-field').css('border','1px solid var(--palette-destructive-500)')
    window.$('.cart-body-summary-promo').css('border','1px solid var(--palette-destructive-500)')
    window.$('.cart-bottom-promo-text').css('color','var(--palette-destructive-500)');
    window.$('.promo-apply').css('color','var(--palette-neutral-300)');

    <% if @error == 'You need to login before applying this coupon code.' %>
      $('.cart-summary-promo-helper').append("<a href='#' class='yellow-anchor' data-toggle='modal' data-target='.checkout-login-modal'> Click here to login</a>");
    <% end %>
  <%end%>
<% end %>

# touched on 2025-05-22T19:24:50.142197Z
# touched on 2025-05-22T21:21:47.907207Z
# touched on 2025-05-22T22:32:45.263820Z
# touched on 2025-05-22T22:50:04.465490Z
# touched on 2025-05-22T23:06:51.182198Z
# touched on 2025-05-22T23:23:59.910146Z
# touched on 2025-05-22T23:45:47.162015Z