<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to @product.name, spree.admin_product_path(@product)) %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_product_tabs">
      <%= content_tag :li, class: ('active' if current == 'Product Details') do %>
        <%= link_to t('spree.product_details'), spree.edit_admin_product_url(@product) %>
      <% end if can?(:admin, Spree::Product) %>
      <%= content_tag :li, class: ('active' if current == 'Images') do %>
        <%= link_to t('spree.images'), spree.admin_product_images_url(@product) %>
      <% end if can?(:admin, Spree::Image) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Variants') do %>
        <%= link_to plural_resource_name(Spree::Variant), spree.admin_product_variants_url(@product) %>
      <% end if can?(:admin, Spree::Variant) %>
      <%= content_tag :li, class: ('active' if current == 'Prices') do %>
        <%= link_to plural_resource_name(Spree::Price), spree.admin_product_prices_url(@product) %>
      <% end if can?(:admin, Spree::Price) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Product Properties') do %>
        <%= link_to plural_resource_name(Spree::ProductProperty), spree.admin_product_product_properties_url(@product) %>
      <% end if can?(:admin, Spree::ProductProperty) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Stock Management') do %>
        <%= link_to t('spree.stock_management'), spree.admin_product_stock_url(@product) %>
      <% end if can?(:admin, Spree::StockItem) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Group Products') do %>
        <%= link_to 'Group Products', spree.admin_group_products_url(@product) %>
      <% end if can?(:admin, Spree::Product) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Add On') do %>
        <%= link_to "Add On's", admin_add_on_products_path(@product) %>
      <% end if can?(:admin, Spree::Product) && !@product.deleted? %>
    </ul>
  </nav>
<% end %>

# touched on 2025-05-22T23:19:36.187310Z
# touched on 2025-05-22T23:27:22.545000Z
# touched on 2025-05-22T23:27:59.557827Z