<div data-hook="admin_product_form_fields">
  <div class="row">
    <div class="left col-9" data-hook="admin_product_form_left">
      <%= form_for [:admin, @product], :url => {:controller => "bulk_update_product_prices"} do |f| %>
        <div data-hook="admin_product_form_taxons">
          <%= f.field_container :taxons do %>
            <%= f.label :taxon_ids, plural_resource_name(Spree::Taxon) %><br />
            <%= f.hidden_field :taxon_ids, value: @product.taxon_ids.join(',') %>
          <% end %>
        </div>

        <div data-hook="admin_product_price">
          <%= f.field_container :price_percentage do %>
            <%= f.label :percentage, 'Increament / Decreament Percentage' %><br />
            <%= number_field_tag :percentage, nil, step: :any, autocomplete: 'off', required: true, placeholder: 'Add percentage' %>
          <% end %>
        </div>

        <%= f.submit "Update Price", disable_with: 'Updating...' %>
      <% end %>
    </div>
  </div>
</div>

# touched on 2025-05-22T22:32:30.484014Z
# touched on 2025-05-22T23:10:05.016690Z
# touched on 2025-05-22T23:27:41.067081Z
# touched on 2025-05-22T23:36:47.268673Z