<footer class="footer_v2" data-id="footer-length">
  <div class="footer-container">
    <div class="footer-left-section">
      <div class="resources-box">
        <div>
          <div class="footer-heading">Resources</div>

          <div class="links">
            <a class="clear-link" href="<%= spree::faqs_page_path %>#contact-support-section">Contact Us</a>

            <a class="clear-link" href="<%= spree::faqs_page_path %>"> Help Center</a>

            <a class="clear-link" href="<%= spree::custom_hose_generator_index_path%>">Custom Hose</a>
          </div>
        </div>

        <div>
          <div class="footer-heading">Company</div>

          <div class="links">
            <a class="clear-link" href="<%= spree::about_us_path %>">About Us</a>
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="logo-icons-section">
        <%= image_tag 'new_agzaga_logo_black.svg', alt: 'Agzaga' %>

        <ul class="nav social-media">
          <li class="nav-item">
            <a class="youtube-link" target="_blank" href="https://www.youtube.com/channel/UCbakHBOpI1LJAMsqTvmE13w">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="change" d="M4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16Z" fill="#3F3F46"/>
                <path d="M21.7 13.075C21.55 12.55 21.175 12.175 20.65 12.025C19.75 11.8 15.925 11.8 15.925 11.8C15.925 11.8 12.175 11.8 11.2 12.025C10.675 12.175 10.3 12.55 10.15 13.075C10 14.05 10 16 10 16C10 16 10 17.95 10.225 18.925C10.375 19.45 10.75 19.825 11.275 19.975C12.175 20.2 16 20.2 16 20.2C16 20.2 19.75 20.2 20.725 19.975C21.25 19.825 21.625 19.45 21.775 18.925C22 17.95 22 16 22 16C22 16 22 14.05 21.7 13.075ZM14.8 17.8V14.2L17.95 16L14.8 17.8Z" fill="white"/>
              </svg>
            </a>
          </li>

          <li class="nav-item">
            <a class="twitter-link" target="_blank" href="https://www.twitter.com/agzagasocial">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="change" d="M4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16Z" fill="#3F3F46"/>
                <path d="M22 12.25C21.55 12.475 21.1 12.55 20.575 12.625C21.1 12.325 21.475 11.875 21.625 11.275C21.175 11.575 20.65 11.725 20.05 11.875C19.6 11.425 18.925 11.125 18.25 11.125C16.675 11.125 15.475 12.625 15.85 14.125C13.825 14.05 12.025 13.075 10.75 11.575C10.075 12.7 10.45 14.125 11.5 14.875C11.125 14.875 10.75 14.725 10.375 14.575C10.375 15.7 11.2 16.75 12.325 17.05C11.95 17.125 11.575 17.2 11.2 17.125C11.5 18.1 12.4 18.85 13.525 18.85C12.625 19.525 11.275 19.9 10 19.75C11.125 20.425 12.4 20.875 13.75 20.875C18.325 20.875 20.875 17.05 20.725 13.525C21.25 13.225 21.7 12.775 22 12.25Z" fill="white"/>
              </svg>
            </a>
          </li>

           <li class="nav-item">
            <a class="instagram-link" target="_blank" href="https://www.instagram.com/agzagasocial">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="change" d="M4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16Z" fill="#3F3F46"/>
                <path d="M16 10.9C17.65 10.9 17.875 10.9 18.55 10.9C19.15 10.9 19.45 11.05 19.675 11.125C19.975 11.275 20.2 11.35 20.425 11.575C20.65 11.8 20.8 12.025 20.875 12.325C20.95 12.55 21.025 12.85 21.1 13.45C21.1 14.125 21.1 14.275 21.1 16C21.1 17.725 21.1 17.875 21.1 18.55C21.1 19.15 20.95 19.45 20.875 19.675C20.725 19.975 20.65 20.2 20.425 20.425C20.2 20.65 19.975 20.8 19.675 20.875C19.45 20.95 19.15 21.025 18.55 21.1C17.875 21.1 17.725 21.1 16 21.1C14.275 21.1 14.125 21.1 13.45 21.1C12.85 21.1 12.55 20.95 12.325 20.875C12.025 20.725 11.8 20.65 11.575 20.425C11.35 20.2 11.2 19.975 11.125 19.675C11.05 19.45 10.975 19.15 10.9 18.55C10.9 17.875 10.9 17.725 10.9 16C10.9 14.275 10.9 14.125 10.9 13.45C10.9 12.85 11.05 12.55 11.125 12.325C11.275 12.025 11.35 11.8 11.575 11.575C11.8 11.35 12.025 11.2 12.325 11.125C12.55 11.05 12.85 10.975 13.45 10.9C14.125 10.9 14.35 10.9 16 10.9ZM16 9.775C14.275 9.775 14.125 9.775 13.45 9.775C12.775 9.775 12.325 9.925 11.95 10.075C11.575 10.225 11.2 10.45 10.825 10.825C10.45 11.2 10.3 11.5 10.075 11.95C9.92499 12.325 9.84999 12.775 9.77499 13.45C9.77499 14.125 9.77499 14.35 9.77499 16C9.77499 17.725 9.77499 17.875 9.77499 18.55C9.77499 19.225 9.92499 19.675 10.075 20.05C10.225 20.425 10.45 20.8 10.825 21.175C11.2 21.55 11.5 21.7 11.95 21.925C12.325 22.075 12.775 22.15 13.45 22.225C14.125 22.225 14.35 22.225 16 22.225C17.65 22.225 17.875 22.225 18.55 22.225C19.225 22.225 19.675 22.075 20.05 21.925C20.425 21.775 20.8 21.55 21.175 21.175C21.55 20.8 21.7 20.5 21.925 20.05C22.075 19.675 22.15 19.225 22.225 18.55C22.225 17.875 22.225 17.65 22.225 16C22.225 14.35 22.225 14.125 22.225 13.45C22.225 12.775 22.075 12.325 21.925 11.95C21.775 11.575 21.55 11.2 21.175 10.825C20.8 10.45 20.5 10.3 20.05 10.075C19.675 9.925 19.225 9.85 18.55 9.775C17.875 9.775 17.725 9.775 16 9.775Z" fill="white"/>
                <path d="M16 12.775C14.2 12.775 12.775 14.2 12.775 16C12.775 17.8 14.2 19.225 16 19.225C17.8 19.225 19.225 17.8 19.225 16C19.225 14.2 17.8 12.775 16 12.775ZM16 18.1C14.875 18.1 13.9 17.2 13.9 16C13.9 14.875 14.8 13.9 16 13.9C17.125 13.9 18.1 14.8 18.1 16C18.1 17.125 17.125 18.1 16 18.1Z" fill="white"/>
                <path d="M19.3 13.45C19.7142 13.45 20.05 13.1142 20.05 12.7C20.05 12.2858 19.7142 11.95 19.3 11.95C18.8858 11.95 18.55 12.2858 18.55 12.7C18.55 13.1142 18.8858 13.45 19.3 13.45Z" fill="white"/>
              </svg>
            </a>
          </li>

          <li class="nav-item">
            <a class="facebook-link" target="_blank" href="https://www.facebook.com/agzagasocial">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="change" d="M4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16Z" fill="#3F3F46"/>
                <path d="M22 16C22 12.7 19.3 10 16 10C12.7 10 10 12.7 10 16C10 19 12.175 21.475 15.025 21.925V17.725H13.525V16H15.025V14.65C15.025 13.15 15.925 12.325 17.275 12.325C17.95 12.325 18.625 12.475 18.625 12.475V13.975H17.875C17.125 13.975 16.9 14.425 16.9 14.875V16H18.55L18.25 17.725H16.825V22C19.825 21.55 22 19 22 16Z" fill="white"/>
              </svg>
            </a>
          </li>

          <li class="nav-item">
            <a class="tiktok-link" target="_blank" href="https://www.tiktok.com/@agzagasocial">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="change" d="M4 16C4 9.37258 9.37258 4 16 4C22.6274 4 28 9.37258 28 16C28 22.6274 22.6274 28 16 28C9.37258 28 4 22.6274 4 16Z" fill="#3F3F46"/>
                <path d="M14.8738 14.7252V14.2581C14.7137 14.2367 14.551 14.2233 14.383 14.2233C12.3798 14.2207 10.75 15.8518 10.75 17.8594C10.75 19.0901 11.3635 20.1793 12.3024 20.8387C11.6969 20.19 11.3262 19.317 11.3262 18.3613C11.3262 16.3831 12.9106 14.7706 14.8738 14.7252Z" fill="white"/>
                <path d="M14.962 20.0218C15.8556 20.0218 16.5865 19.309 16.6185 18.4227L16.6212 10.5019H18.0669C18.0375 10.339 18.0215 10.1709 18.0215 10H16.0477L16.045 17.9208C16.013 18.8071 15.2821 19.5199 14.3885 19.5199C14.1111 19.5199 13.8497 19.4505 13.6177 19.3277C13.9164 19.7468 14.4072 20.0218 14.962 20.0218Z" fill="white"/>
                <path d="M20.7688 13.1902V12.7497C20.2166 12.7497 19.7045 12.5869 19.2724 12.3039C19.6565 12.7444 20.1766 13.0648 20.7688 13.1902Z" fill="white"/>
                <path d="M19.2723 12.3039C18.8509 11.8207 18.5975 11.1907 18.5975 10.5019H18.0694C18.2054 11.2547 18.6535 11.9008 19.2723 12.3039Z" fill="white"/>
                <path d="M14.3856 16.1962C13.4707 16.1962 12.7265 16.941 12.7265 17.8567C12.7265 18.4948 13.0893 19.05 13.6174 19.3277C13.4201 19.0554 13.3027 18.7217 13.3027 18.3586C13.3027 17.4429 14.0469 16.6981 14.9618 16.6981C15.1325 16.6981 15.2979 16.7274 15.4526 16.7755V14.7573C15.2925 14.7359 15.1298 14.7225 14.9618 14.7225C14.9325 14.7225 14.9058 14.7252 14.8764 14.7252V16.2736C14.7191 16.2255 14.5564 16.1962 14.3856 16.1962Z" fill="white"/>
                <path d="M20.7685 13.1902V14.7252C19.7443 14.7252 18.7947 14.3969 18.0211 13.8416V17.8594C18.0211 19.8643 16.3914 21.4981 14.3855 21.4981C13.6119 21.4981 12.8917 21.2525 12.3022 20.8387C12.9664 21.5515 13.9133 22 14.9616 22C16.9648 22 18.5973 20.3688 18.5973 18.3613V14.3435C19.3708 14.8988 20.3204 15.2271 21.3447 15.2271V13.2516C21.1446 13.2516 20.9526 13.2302 20.7685 13.1902Z" fill="white"/>
                <path d="M18.0212 17.8594V13.8416C18.7948 14.3969 19.7444 14.7252 20.7687 14.7252V13.1902C20.1765 13.0648 19.6564 12.7444 19.2723 12.3039C18.6534 11.9008 18.208 11.2547 18.0666 10.5019H16.6209L16.6182 18.4227C16.5862 19.309 15.8553 20.0218 14.9618 20.0218C14.4069 20.0218 13.9188 19.7468 13.6147 19.3304C13.0866 19.05 12.7238 18.4975 12.7238 17.8594C12.7238 16.9437 13.468 16.1989 14.3829 16.1989C14.5536 16.1989 14.719 16.2282 14.8737 16.2763V14.7279C12.9105 14.7706 11.3261 16.3831 11.3261 18.3613C11.3261 19.317 11.6969 20.1873 12.3024 20.8387C12.8919 21.2525 13.6121 21.4981 14.3856 21.4981C16.3888 21.4981 18.0212 19.8643 18.0212 17.8594Z" fill="white"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="privacy-policy">
        <a class="clear-link" href="<%= spree::privacy_policy_path %>">Privacy Policy</a>
      </div>
    </div>

    <div class="footer-right-section">
      <div class="footer-email-group">
        <div class="label">Don’t miss our emails with exclusive offers, awesome updates, and deals you’ll love.</div>
        <%= form_tag(main_app.news_letter_path, remote: true, class: 'news-letter-form') do %>
          <%= email_field_tag 'email', '', placeholder: 'Enter Email', required: true, class: 'email-input-field email-input-news-letter' %>

          <button type="submit" class="submit-btn submit-btn-news-letter" aria-label="email">Join Us</button>

          <div class="error-message footer_news_letter_error_v2"></div>
        <% end %>
      </div>

      <div class="payment-box">
        <ul class="nav payment-media">
          <li class="nav-item">
            <%= image_tag 'visa-color.svg', alt: 'Visa'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'master-color.svg', alt: 'Master'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'discover-color.svg', alt: 'Discover'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'amex-color.svg', alt: 'American Experss'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'apple-pay-color.svg', alt: 'American Experss'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'google-pay-color.svg', alt: 'American Experss'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'affirm_logo-black_bg.svg', class: 'affirm', alt: 'Affirm'%>
          </li>

          <li class="nav-item">
            <%= image_tag 'paypal.svg', class: 'paypal', alt: 'Paypal'%>
          </li>

        </ul>
      </div>

      <div class="separator"></div>

      <div class="footer-bottom-links">
        <a href="/about_us">
          <%= image_tag 'missouri.svg', alt: 'missouri'%>
        </a>

        <a href="https://www.cloudflare.com/learning/security/what-is-web-application-security" target="_blank">
          <%= image_tag 'https://assets.agzaga.com/public_images/ProtectedByCloudflare_img.webp', class: "protected-cloud", alt: 'cloudfare' %>
        </a>
      </div>

      <div class="footer-brand">
        © 2022 Agzaga, LLC®
      </div>
    </div>
  </div>
</footer>

# touched on 2025-05-22T19:13:28.129951Z
# touched on 2025-05-22T21:34:14.541252Z
# touched on 2025-05-22T23:42:21.015737Z
# touched on 2025-05-22T23:42:54.689698Z