<%= render partial: 'spree/home/partials/home_page_video' %>

<div id="featured_categories" class="data-container">
  <%= render partial: 'spree/home/partials/featured_slider' %>
</div>
<div class="full-page-line"></div>

<%= render partial: 'spree/home/partials/our_best_deals' %>

<div id="hero-div" class="data-container ">
  <%= render partial: 'spree/home/partials/slider' %>
</div>

<%= render partial: 'spree/home/partials/top_rated_this_season' %>

# touched on 2025-05-22T23:03:41.166775Z