<% product = product.product%>
<% variants_stock = product_out_of_stock(product) %>
<% if out_of_stock(product, variants_stock) %>
  <%= hidden_field_tag "disable-select2", true %>
<% end %>

<%= form_for :order, html: { method: :post, remote: true},  url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-<%= product.id %>-variants" class="product-variants" data-product="<%= product.id %>">
        <ul class="d-none">
          <% product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
            <li>
              <div id = "pallet_element_<%=variant.id%>">
                <% variant.volume_prices.each do |v|%>
                  <% price_per_unit = v.discount_type == 'price' ? v.amount : (v.discount_type == 'percent' ? (product.price - (product.price * v.amount)) : product.price - v.amount) %>

                  <%= content_tag :div, '', data: { volume_price_name: v.name, volume_prices_quantity: v.range.split(/[. +]/).first, volume_unit_price: ('%.2f' % price_per_unit), product_id: product.id} %>
                <% end %>
              </div>

              <% line_item = current_order&.line_items&.find_by(variant_id: variant&.id) %>

              <%= radio_button_tag 'variant_id', variant.id, nil, data: {price: "#{variant.price_for(current_pricing_options)}", target_pallet: "pallet_element_#{variant.id}", buy_in_bulk: "buy-in-bulk-#{product.id}", update_price: "update-price-#{product.id}"}, class: 'variantid' %>

              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>


                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                <% end %>

                <span class="stock-count"><%= variant.total_on_hand %></span>
                <span class="variant-backorderable"><%= variant.is_backorderable? %></span>
              <% end %>
            </li>
          <% end %>
        </ul>

        <% product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
          <div class="d-none variants-data-for-<%= product.id %>" data-id="<%= variant.id %>" data-text="<%= variant.options_text %>" ></div>
        <% end %>

        <% options = product.variant_option_values_by_option_type %>

        <% options.each do |option| %>
          <div class="poppins-text-16 option-label"> <%= option[0].presentation %>: </div>

          <%= f.select 'variants', options_for_select(option[1].map { |value| [value.name, value.presentation] }),
                { include_blank: "Choose a #{ option[0].presentation }" },
                data: { option: option[0].presentation },
                id: "#{ product.id }-options-for-#{ option[0].presentation.gsub(/[^\w]/, '_')}",
                class: "options-select #{'product-options-select' if out_of_stock(product, variants_stock) }", required: true %>
        <% end %>
      </div>

    <% else %>
      <%= hidden_field_tag 'variant_id', product.master.id %>
    <% end %>

    <% if product.price_for(current_pricing_options) and !product.price.nil? %>
      <div class="cart">
        <div class="quantity-btn-group <%= 'disable-quantity-btn-group' if out_of_stock(product, variants_stock) || !product.variants.empty? %>">
          <div class="btn-group">
            <%= button_tag '', class: 'button disable_btn sub-btn', type: 'button' %>
            <% if product.master.is_backorderable? %>
              <% if product.master.get_max_stock > 0 %>
                <%= number_field_tag :quantity, 1, class: "quantity text-center product-quantity-field-#{product.id}", min: 1, max: product.master.get_max_stock  %>
              <% else %>
                <%= number_field_tag :quantity, 1, class: "quantity text-center product-quantity-field-#{product.id}", min: 1, max: 500 %>
              <% end %>

            <% else %>
              <%= number_field_tag :quantity, 1, class: "quantity text-center product-quantity-field-#{product.id}", min: 1, max: product.master.total_on_hand %>
            <% end%>
            <%= button_tag '', class: 'button add-btn', type: 'button' %>
          </div>

          <div class="poppins-text-10 stock-error-message"></div>

          <% taxon_names = product.taxons.flat_map(&:self_and_ancestors).uniq.pluck(:name).map(&:downcase) %>

          <% if taxon_names.include?('hay containment') && !taxon_names.include?('accessories') %>
            <div class="need-more-quantity-group">
              <div class="need-more-quantity-box">

                <div class="box-heading poppins-bold-text-16">
                  <%= image_tag 'phone_icon_grey.svg', class: 'phone-icon', alt: 'Phone icon', size: '16x16' %>
                  Need more?
                </div>

                <div class="box-text poppins-text-16">
                  We've got you covered!
                  <span class="mob-new-line">
                    Call us at <a href="tel:+18882497412" class="poppins-bold-text-16 phone-link">1-888-249-7412</a> for availability.
                  </span>

                  <a class="call-btn poppins-bold-text-12" href="tel:+18882497412">
                    <%= image_tag 'phone_icon_black.svg', class: 'phone-icon', alt: 'Phone icon', size: '16x16' %> Call Now
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="add-to-cart-button">
          <% if out_of_stock(product, variants_stock) %>
            <%= button_tag class: 'poppins-bold-text-16 mt-0 out-of-stock-btn add-to-cart', id: 'add-to-cart-button', disabled: true, type: :submit do %>
              <%= t('spree.add_to_cart') %>
            <% end %>
          <% else %>
            <div>
              <%= button_tag class: "poppins-bold-text-16 mt-0 btn-gradient-orange add-to-cart", id: 'add-to-cart-button', type: :submit do %>
                <%= t('spree.add_to_cart') %>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

<% unless industry_products %>
  <% net_wrap_product = net_wrap_product_order == 0 ? spree::nested_taxons_url('hay-containment/net-wrap/flag-wrap') : net_wrap_product_order == 1 ? spree::nested_taxons_url('hay-containment/net-wrap/ffa-wrap') : spree::root_url + 'products?keywords=Bridon+Net+Wrap&category=' %>
<% else %>
  <% net_wrap_product = spree::nested_taxons_url('hay-containment/silage-wrap') %>
<% end %>

<%= link_to net_wrap_product, class: 'more-sizes-btn' do %>
  More Sizes
  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.6667 6.66669L18 10M18 10L14.6667 13.3334M18 10L3 10" stroke="#71717A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
<% end %>

# touched on 2025-05-22T19:23:41.755436Z
# touched on 2025-05-22T20:44:32.251154Z
# touched on 2025-05-22T20:44:38.679920Z
# touched on 2025-05-22T22:33:52.789027Z
# touched on 2025-05-22T23:42:10.796277Z