<div class="data-container">
  <h1 class="draught-textured-h1 section-top-h1">
    Mill Certified Products
  </h1>

  <p class="poppins-text-18 section-sub-text">Products who’s quality we’ve tested and stand behind.</p>

  <div class="row no-gutters certified-products-group d-none d-md-flex">
    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/8.jpg', certified: true,
                    title: 'This netwrap is the best we’ve tested.'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/9.jpg', certified: true,
                    title: 'This silage will keep your haylage nutritious.'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/10.jpg', certified: true,
                    title: 'Finally, a twine that cows will eat.'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/11.jpg', certified: true,
                    title: 'Won’t survive a hill roll, but is still edible after.'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/12.jpg', certified: true,
                    title: 'What do haylage and silage have in common?'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/13.jpg', certified: true,
                    title: 'Leave the science for people in white coats.'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/14.jpg', certified: true,
                    title: 'This hayknife will open your third eye.'
                  } %>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/15.jpg', certified: true,
                    title: 'Where’s the beef? Eating our haylage, honestly.'
                  } %>
    </div>
  </div>

  <div class="owl-carousel owl-theme mill-certified-products home-page-slider d-flex d-md-none">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/8.jpg', certified: true,
                    title: 'This netwrap is the best we’ve tested.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/9.jpg', certified: true,
                    title: 'This silage will keep your haylage nutritious.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/10.jpg', certified: true,
                    title: 'Finally, a twine that cows will eat.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/11.jpg', certified: true,
                    title: 'Won’t survive a hill roll, but is still edible after.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/12.jpg', certified: true,
                    title: 'What do haylage and silage have in common?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/13.jpg', certified: true,
                    title: 'Leave the science for people in white coats.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/14.jpg', certified: true,
                    title: 'This hayknife will open your third eye.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_card',
          locals: { image: 'mill/15.jpg', certified: true,
                    title: 'Where’s the beef? Eating our haylage, honestly.'
                  } %>
    </div>
  </div>

  <a class="clear-link view-all poppins-text-16 bold" href="/mill">
    View All <i class="bi bi-arrow-right"></i>
  </a>

  <div class="line"></div>
</div>

# touched on 2025-05-22T19:17:12.611650Z
# touched on 2025-05-22T23:44:22.382372Z