<div class="data-container">
  <h1 class="draught-h2 mb-1">Hay Containment</h1>

  <a class="clear-link view-all poppins-text-16 bold p-0 mb-0" href="/mill">View All <i class="bi bi-arrow-right"></i></a>

  <div class="owl-carousel owl-theme mill-products-by-categories home-page-slider">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/16.jpg', category: 'Drivelines', certified: true,
                    title: 'How many farmers does it take to farm?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/17.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/18.jpg', category: 'Apparel', certified: true,
                    title: 'You’re never off work when you’re working.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/17.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>
  </div>
</div>

<div class="data-container">
  <h1 class="draught-h2 mb-1">Hay Parts</h1>

  <a class="clear-link view-all poppins-text-16 bold p-0 mb-0" href="/mill">View All <i class="bi bi-arrow-right"></i></a>

  <div class="owl-carousel owl-theme mill-products-by-categories home-page-slider">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/19.jpg', category: 'Drivelines', published: 2,
                    title: 'How many farmers does it take to farm?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/20.jpg', category: 'Hay parts', certified: true,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/21.jpg', category: 'Apparel', published: 4,
                    title: 'You’re never off work when you’re working.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/20.jpg', category: 'Hay parts', certified: true,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>
  </div>
</div>

<div class="data-container">
  <h1 class="draught-h2 mb-1">Drivelines</h1>

  <a class="clear-link view-all poppins-text-16 bold p-0 mb-0" href="/mill">View All <i class="bi bi-arrow-right"></i></a>

  <div class="owl-carousel owl-theme mill-products-by-categories home-page-slider">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/22.jpg', category: 'Drivelines', published: 2,
                    title: 'How many farmers does it take to farm?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/23.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/24.jpg', category: 'Apparel', published: 4,
                    title: 'You’re never off work when you’re working.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/23.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>
  </div>
</div>

<div class="data-container">
  <h1 class="draught-h2 mb-1">Tractor Parts</h1>

  <a class="clear-link view-all poppins-text-16 bold p-0 mb-0" href="/mill">View All <i class="bi bi-arrow-right"></i></a>

  <div class="owl-carousel owl-theme mill-products-by-categories home-page-slider">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/25.jpg', category: 'Drivelines', certified: true,
                    title: 'How many farmers does it take to farm?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/26.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/27.jpg', category: 'Apparel', published: 4,
                    title: 'You’re never off work when you’re working.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/26.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>
  </div>
</div>

<div class="data-container">
  <h1 class="draught-h2 mb-1">Accessories</h1>

  <a class="clear-link view-all poppins-text-16 bold p-0 mb-0" href="/mill">View All <i class="bi bi-arrow-right"></i></a>

  <div class="owl-carousel owl-theme mill-products-by-categories home-page-slider">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/28.jpg', category: 'Drivelines', published: 2,
                    title: 'How many farmers does it take to farm?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/29.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/30.jpg', category: 'Apparel', certified: true,
                    title: 'You’re never off work when you’re working.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/29.jpg', category: 'Hay parts', published: 3,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>
  </div>
</div>

<div class="data-container">
  <h1 class="draught-h2 mb-1">Apparel</h1>

  <a class="clear-link view-all poppins-text-16 bold p-0 mb-0" href="/mill">View All <i class="bi bi-arrow-right"></i></a>

  <div class="owl-carousel owl-theme mill-products-by-categories home-page-slider">
    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/31.jpg', category: 'Drivelines', published: 2,
                    title: 'How many farmers does it take to farm?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/32.jpg', category: 'Hay parts', certified: true,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/33.jpg', category: 'Apparel', certified: true,
                    title: 'You’re never off work when you’re working.'
                  } %>
    </div>

    <div class="item">
      <%= render partial: 'pages/partials/mill_product_short_card',
          locals: {
                    image: 'mill/32.jpg', category: 'Hay parts', certified: true,
                    title: 'Why is my tractor still talking to me?'
                  } %>
    </div>
  </div>
</div>

# touched on 2025-05-22T19:09:17.618402Z
# touched on 2025-05-22T19:23:46.660805Z
# touched on 2025-05-22T19:24:47.938287Z
# touched on 2025-05-22T20:40:40.131686Z
# touched on 2025-05-22T21:21:45.466306Z
# touched on 2025-05-22T21:34:20.233654Z
# touched on 2025-05-22T23:19:49.606363Z
# touched on 2025-05-22T23:30:22.221966Z